
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ri-shopping-cart-2-fill:before {
  font-size: 30px;
}

.ri-heart-fill:before {
  font-size: 30px;  
}
.ri-account-circle-line:before {
  font-size: 30px; 
}
hr{
  position: relative;
  top: 0px;
  border: none;
  height: 3px;
  background: black;
}
.banner{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  margin-top:10px;
}
